.home{
    .left-bar{background-image: url(../../../../assets//images/sidebar-3.34535b95.jpg);
        background-position: inherit;
        
       }
    .title-row{
        padding: 10px 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 19px 2rem;
        background-color: black;
        opacity: 0.8;
        .icons{
            font-size: 1.5rem;
            text-align: -webkit-right;
            color: #ffffff;
        }
        .title{
            font-size: 22px;
            color: #ffffff;
        }
        
    }
    
    .list{
        position: relative;
        height: calc(100vh - 75px);
        .list-items{
            background-color: black;
            opacity: 0.8;
            padding: 22px 14px 0 11px;
            .icon{
                font-size: 21px;
                vertical-align: middle;
            }
            span{
                padding: 2rem;
            }
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        padding: 15px 28px;
        background-color: #1FA298;
        margin-left: 20px;
        margin-right: 9px;
    }
    .nav-link {
        color: #ffffff;
        display: block;
        padding: 1rem 3rem;
        margin-top: 7px;
    }
    .right-side{
        background-color: #eae3e3;
        padding: 18px 27px;
        span{color: #5a4848;}
        input{
            border-top: none;
            border-left: none;
            border-right: none;
        }
        .search{
            background-color: #eae3e3;
        }
    }
    .right-side-content{
        margin-top: 4rem;
    }
}